
<app-titlebar></app-titlebar>
<div class="alert alert-info" role="alert">
  <h3>Sections for </h3>
</div>
<div class="container-fluid">
<div class="form-control" style="min-height: 833px">
<div class="row ">

  <div *ngFor="let section of sections" class="col-sm-6">
    <div class="card" style="width: 18rem; margin: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div class="card-body">
        <h5 class="card-title">{{section.name}}</h5>
        <p class="card-text">number of seats available: {{section.seats}}</p>
        <p style="color: red">{{section.errMsg}}</p>
        <div *ngIf="!(section.students.indexOf(user._id) !== -1) && !(section.seats == 0)">
          <button  class="btn btn-primary" (click)="enroll(section._id)" [hidden]=isAdmin>Enroll</button>
        </div>

        <button class="btn btn-danger" (click)="delete(section._id)" [hidden]=!isAdmin>Delete</button>
        <a href="course/{{this.courseId}}/editSection/{{section._id}}" class="btn btn-warning"  [hidden]=!isAdmin>Update</a>
        <a href="course/{{this.courseId}}/enrollment/{{section._id}}" class="btn btn-primary"  [hidden]=!isAdmin>Enrollment</a>
    </div>
    </div>
  </div>
</div>





<div>
  <button
    class="btn btn-success"
    (click)="addSection('New Section')" [hidden]=!isAdmin>
    Add Section
  </button>
</div>

</div>
</div>
<div style="height: 15px"></div>


